@import './../../Global.css';

.about-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.about-container {
  display: flex;
  flex-direction: column;
  /* height: auto; */
  width: 80%; /* Ajustar el ancho al 90% */
  max-width: 1000px;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.about-left-container, .right-top, .right-bottom {
  border-radius: 30px;
}

.about-left-container {
  /* flex:  1; */
  background-color: var(--nav-background);
  border: 1px solid var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.name, .email, .about-me, .title-3, .text {
  color: var(--pink);
  margin: 10px 0;
}

.cv-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--nav-background);
  color: var(--pink);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.cv-button:hover {
  color: var(--dark-Green);
  background-color: var(--pink);
}

.about-right-container {
  /*   gap: 10px; */
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  /* background-color: var(--nav-background); */
  /* border: 1px solid var(--light-gray); */
  padding: 0;
  box-sizing: border-box;
}

.right-top {
  height: 48%; /* 60% de la altura */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--nav-background);
  border: 1px solid var(--light-gray);
  padding: 15px;
  margin-bottom: 2%;
  box-sizing: border-box;
}

.right-bottom {
  height: 50%; /* 40% de la altura */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--nav-background);
  border: 1px solid var(--light-gray);
  padding: 15px;
  box-sizing: border-box;
  /* overflow: auto; */
}

.right-top h3, .right-top h4, .right-top p,
.right-bottom h4, .right-bottom p {
  margin: 2px 0;
}

.right-top h3, .right-top h4,
.right-bottom h4 {
  align-self: flex-start;
}

.role {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 0.7em; 
}

.role-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.role-info {
  display: flex;
  flex-direction: column;
}

.role-type, .company-name {
  margin: 0;
  color: var(--pink);
}

.social-icons {
  display: flex;
  gap: 10px;  
}

.social-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.social-icon:hover {
  filter: brightness(0.8);
}

/* Media Queries */
@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    height: 70vh;
    width: 70vw;
    align-items: stretch;
  }

  .about-left-container {
    flex: 0 0 40%; /* 40% del ancho total */
    height: 100%; /* Asegurar que ocupe todo el alto */
  }

  .about-right-container {
    flex: 0 0 60%; /* 60% del ancho total */
    height: 100%; /* Asegurar que ocupe todo el alto */
  }

  .right-top {
    height: 48%; /* Ajustar altura al 58% */
    margin-bottom: 2%; /* Agregar espacio entre right-top y right-bottom */
    padding: 20px; /* Ajustar el padding para el margen interior */
  }

  .right-bottom {
    height: 50%; /* Ajustar altura al 40% */
    padding: 20px; /* Ajustar el padding para el margen interior */
    /* overflow: auto;  */
  }
}
