.visit-counter {
    position: fixed;
    bottom: 10px;
    right: 10px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
  }

.visit-counter p {
    color: var(--pink);
  }
  